extends layout

block content
  h1= title
  p Enviar por POST a /model
  pre 
    | {
    |    "a1": 16.0,
    |    "a2": 2390.5293,
    |    "a3": 7.0,
    |    "a4": 12.0,
    |    "a5": 0.223671,
    |    "a6": 17.925686
    | }
